*
{
    margin: 0;
    padding: 0;
    font-family: system-ui, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}
a.logo, a.menu_item
{
    color: #fefcfb;
    text-decoration: none;
    transition: 0.3s;    
}
a:hover
{
    opacity: 0.7;
}
header
{
    display: flex;
    top: 0;
    left: 0;
}
ul
{
    list-style: none;
}
.p-list
{
    
    margin-left: 6%;
}
.p-list > li::marker
{
    font-weight: 500;
}
.full_logo
{
    position: static;
    white-space: nowrap;
}
.logo 
{
    display: inline-block;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    white-space: nowrap;
}
.main_menu
{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;  
    left: 0;
    justify-content: space-around;
    align-items: center;
    background: #507166;
    height: 10vh;
    z-index: 1;
}
.sandwitch_menu
{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.sandwitch_menu.active .menu_line1
{
    transform: rotate(-45deg) translate(-30%, 100%);
}
.sandwitch_menu.active .menu_line2
{
    opacity: 0;
}
.sandwitch_menu.active .menu_line3
{
    transform: rotate(45deg) translate(-29%, -100%);
}

.search_box
{
    background-color: #fefcfb;
    border-width: 1px;
    border-radius: 2px;
    height: 4vh;
    width: 200px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    outline: none;
    transform: translate(100vw, -1.5vh);
    transition: transform 0.3s ease-in;
}
.search_box.active
{
    opacity: 1;
    transform: translate(-5%, -1.5vh);
}
.search_icon1
{
    position: absolute;
    background: #507166; 
    width: 55%;
    height: 55%;
    border-radius: 100%;
    border-style: solid;
    border-color: #fefcfb;
    transform: translate(16%, -60%);
    z-index: 1;
}
.search_icon3
{
    position: absolute;
    background: #fefcfb;
    width: 12%;
    height: 80%;
    border-radius: 2px;
    z-index: 0;
    transform: rotate(45deg) translate(-30%, -30%);
}
.search_form
{
    display: inline-block;
    vertical-align: middle;    
    height: 10vh;
}
#close_search
{
    transform: translate(100px, 3vh) rotate(45deg);
    border: transparent;
    border-style: solid;
    border-right-color: #fefcfb;
    border-top-color: #fefcfb;
    border-width: 4px;
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease-in;
}
#close_search.active
{
    transform: translate(-42px, 3vh) rotate(45deg);
}
#close_search:hover
{
    cursor: pointer;
    transform: translate(-42px, 3vh) scale(1.1) rotate(45deg);
}
#search_button
{
    display: inline-block;
    transform: translateY(-7px);
}
.search_button
{
    width: 32px;
    height: 32px;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    border-radius: 100%;
}
.search_button:hover
{
    cursor: pointer;
    transform: scale(140%);   
}
.result 
{
    margin-top: 2vh;
}
.result a
{
    font-size: 1.3rem;
    text-decoration: none;
    color: blue;
    opacity: 1;
}
.result a :hover
{
    text-decoration: underline;
}

.result_header
{
    font-weight: 700;
}
.result_link
{
    word-break: break-all;
    font-weight: 500;
    color: green;
}
.result_body
{
    color: rgb(10, 10, 10);
}
main
{
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    min-height: 81vh;
}
.sandwitch_menu:hover
{
    opacity: 0.7;
}
.sandwitch_menu div
{
    width: 100%;
    height: 12%;
    background: #fefcfb;
    margin: 20%;
    border-radius: 2px;
    transition: 0.3s;
}
.calculator
{
    transform: rotate(0);
    display:inline-block;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    background: #fefcfb;   
    transition: all 0.3s ease-in-out;
}
.calculator_squares
{
    width: 41%;
    height: 41%;
    border-radius: 2px;
    background-color: #507166;
}
.calculator_squares:hover
{
    transform: scale(1.1);
}
#calculator_square1
{
    margin-left: 6%;
    margin-top: 6%;
}
#calculator_square2
{
    margin-left: 6%;
    margin-top: 6%;
}
#calculator_square3
{ 
    margin-left: 53%;
    margin-top: -42%;
}
#calculator_square4
{ 
    margin-left: 53%;
    margin-top: -87%;
}
.plus_signal
{
    position: relative;
    width: 250%;
    height: 250%;
}
.plus_bar1
{
    position: absolute;
    transform: translateY(150%) translateX(13%);
    width: 32%;
    height: 10%;
    border-radius: 2px;
    background: #fefcfb;
}
.plus_bar2
{
    position: absolute;
    transform: translateX(7%) translateY(150%) rotate(90deg);
    width: 32%;
    height: 10%;
    border-radius: 2px;
    background: #fefcfb;
}
.minus_signal
{
    position: relative;
    transform: translate(105%, 450%) scale(2.5);   
    width: 32%;
    height: 10%;
    border-radius: 1px;
    background: #fefcfb;
}
.multiply_signal
{
    position: relative;
    width: 250%;
    height: 250%;
}
.multiply_bar1
{
    position: absolute;
    transform: rotate(45deg) translate(45%, 80%);   
    width: 32%;
    height: 10%;
    border-radius: 2px;
    background: #fefcfb;
}
.multiply_bar2
{
    position: absolute;
    transform: rotate(-45deg) translate(-26%, 145%);    
    width: 32%;
    height: 10%;
    border-radius: 2px;
    background: #fefcfb;
}
.divide_signal
{
    position: relative;
    width: 240%;
    height: 240%;
}
.divide_bar
{
    position: absolute;
    transform: translate(13%, 150%);   
    width: 32%;
    height: 10%;
    border-radius: 1px;
    background: #fefcfb;
}
.divide_dot1
{
    position: absolute;
    transform: translate(150%, 25%);   
    width: 10%;
    height: 10%;
    border-radius: 2px;
    background: #fefcfb;
    
}
.divide_dot2
{
    position: absolute;
    transform: translate(150%, 275%);   
    width: 10%;
    height: 10%;
    border-radius: 2px;
    background: #fefcfb;
}
.item_list
{
    color:#fefcfb;
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: #507166;
    display: inline-block;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
}
.item_list.active
{
    transform: translateX(0);
}
.item_list li
{
    padding: 1vh;
    margin-left: 0;
    letter-spacing: 2px;
    opacity: 0;
}
@keyframes itemListFade
{
    from {
        opacity: 0;
        transform: translatex(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

footer
{
    display: flexbox;
    text-align: center;
    background-color:#507166;
    height: 7vh;
    width: 100%;
}
.copyright
{
    transform:translateY(2vh);
    color: #fefcfb;
    text-align: center;
}
.titles
{
    display: inline-block;
    max-width: 470px;
    margin-left: calc((100vw - 470px) / 2);
}
#subtitle
{
    text-align: right;
    width: 100%;
    font-weight: 400;
    color: #507166;
    margin-bottom: 3vh;
}
.converter
{
    width: 60vw;
    margin-left: calc((100vw - 60vw) / 2);

}
.numbers
{
    outline: none;
    border-top: 0;
    border-bottom: 0;
    margin-bottom: -5px;
    width: calc(100% - 6px);
    height: 15vh;
    line-break: auto;
    resize: none;
    padding: 2px;
    z-index: -1;
}
.button
{
    border-width: 1px;
    margin-top: -10px;
    height: 28px;
    width: 100%;
    padding: 2px;
    background-color: #507166;
    color: #fefcfb ;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}
.supRom
{
    width: 100%;
}
.supRoms
{
    border-width: 1px;
    border-color: gray;
    outline: none;
    cursor: pointer;
    width: calc(100% / 7);
    height: 28px;
    background-color: #fefcfb;
}
.basenumbers
{
    cursor: pointer;
    outline: none;
    border-radius: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 28px; 
    z-index: 1; 
    width: 100%;
}

h1
{
    font-size:  1.7rem;
    text-align: center;
    font-weight: 500;
}
h2
{
    font-size: 1.5rem;
    font-weight: 500;
}
h3
{
    font-size: 1.1rem;
    font-weight: 500;
}
b
{
    font-weight: 500;
}
p
{
    text-align: justify;
    font-weight: 400;
    margin-bottom: 2vh;
    margin-top:2vh;
}
#ou
{
    background: none;
    color: #507166;
    font-weight: 500;
}
article
{
    margin-top: 2vh;
    width: 60vw;
    margin-left: calc((100vw - 60vw) / 2);
}
.redirect
{
    text-decoration: none;
    transition: 0.3s; 
}
.converters
{
    margin-bottom: 10vh;
    width: 96%;
    margin-left: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) ;
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 15px;
}
.invisible
{
    display: none;
}
.tools
{
    border-style: solid;
    border-width: 2px;
    border-color: #507166;
    display: inline-block;
    flex-direction: column;
    height: 100%;
    border-radius: 2px;
}
#toolname
{
    color: #fefcfb;
    background-color: #507166;
    padding-bottom: 2px;;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.mini_converter
{
    display: inline-block;
    border-radius: 4px;
    width: 96%;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 4%;
}
.mini_button
{
    display: inline-block;
    border-width: 1px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 32px;
    width: 100%;
    padding: 5px;
    background-color: #507166;
    color: #fefcfb ;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    border-left: 0;
    border-right: 0;
}
.mini_button:hover
{
    opacity: 95%;
}
.mini_basenumbers
{
    cursor: pointer;
    outline: none;
    border-radius: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 32px;  
    width: 100%;
}
.mini_numbers
{
    outline: none;
    border-top: 0;
    border-bottom: 0;
    margin-bottom: -5px;
    width: calc(100% - 6px);
    min-height: 75px;
    max-height: 150px;
    line-break: auto;
    resize: none;
    padding: 2px;
}
.ferramentas_numericas_menu
{
    display: inline-block;
    position: relative;
    margin-left: 2%;

    width: 96%;
    min-height: 35px;
    cursor: pointer;
    text-align: center;
    color: #fefcfb;
    background: #507166; 
}
.ferramentas_numericas_menu:hover
{
    background-color:#709286;
}
.ferramentas_numericas_menu_list
{
    color:#fefcfb;
    left: 0;
    display: inline-block;
    background-color: #507166;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 96%;
    margin-left: 2%;
    opacity: 0; 
    margin-bottom: 2px;
    transition: opacity 0.3s ease-in;
}
.ferramentas_numericas_menu_list li
{
    margin: 10px;
}
.show
{   
    opacity: 1;
}
@media (max-width: 400px){
    h1 
    {
        text-align: left;
    }
    .item_list
    {
        top: 8vh;
    }
    .sandwitch_menu
    {
        width: 8.5vw;
        height: 8.5vw;
    }
    .logo
    {
        font-size: 6vw;
        letter-spacing: 1px;
    }
    .calculator
    {
        width: 8.5vw;
        height: 8.5vw;
    }
    #calculator_squares
    {
        width: 3vw;
        height: 3vw;
    }
    .titles
    {
        transform: translateX(0);
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #subtitulo
    {
        margin-right: 2vw;
    }
    .copyright
    {
        transform:translateY(2px);
    }
    .tools
    {
        width: 80vw;
        margin-left: 10%;
        margin-bottom: 3vh;
    }
    .search_button
    {
        width: 8.5vw;
        height: 8.5vw;
    }
    .p-list
    {       
        margin-left: 10%;
    }
}
@media (max-width: 675px)
{
    p
    {
        text-align:left
    }
    .search_box
    {
        background-color: #fefcfb;
        width: 100vw;
        left: 0;
        height: 32px;
        transform: translateY(-25vh)
    }
    .search_box.active
    {
        position: absolute;
        margin-bottom: 4vh;
        right: 0;
        transform: translate(0, 0); 
    }
    .search_form
    {
        position: absolute;
        width: 100vw;
        height: 10vh;
        left: 0;
        margin-top: 7vh;
        background-color:#507166;
    }
    #close_search
    {
        display: block;
        position: absolute;
        transform: rotate(0deg) translate(48vw, -180px);
    }
    #close_search.active
    {
        transform: translate(48vw, 7.5vh) rotate(-45deg) ;
    }
    #close_search:hover
    {
        transform: translate(48vw, 7.5vh) scale(1.1) rotate(-45deg);
    }
}
.hide
{
    display: none;
}
